<p-card>
  <div class="font-semibold text-xl mb-4">Reservas</div>
    <p-toolbar>
      <div class="p-toolbar-start">
      </div>
      <div class="p-toolbar-end">
        <button pButton icon="pi pi-plus" label="Novo" class="p-button" (click)="novo()"></button>
      </div>
    </p-toolbar>
  <p-table
    [value]="reservas"
    [loading]="isLoading"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [first]="page * pageSize"
    [lazy]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id Reserva CM</th>
        <th>Número Reserva CM</th>
        <th>Código UH</th>
        <th>Nome Hóspede</th>
        <th>Contato</th>
        <th>Email</th>
        <th>Check-in</th>
        <th>Check-out</th>
        <th>Qtd Hóspedes</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <tr>
        <td>{{ r.idreservacm }}</td>
        <td>{{ r.numeroreservacm }}</td>
        <td>{{ r.coduh }}</td>
        <td>{{ r.nome_hospede }}</td>
        <td>{{ r.contato }}</td>
        <td>{{ r.email }}</td>
        <td>{{ r.data_checkin | date:'dd/MM/yyyy':'UTC' }}</td>
        <td>{{ r.data_checkout | date:'dd/MM/yyyy':'UTC' }}</td>
        <td>{{ r.qtd_hospedes }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-text" (click)="editar(r.id)"></button>
          <button pButton icon="pi pi-trash" class="p-button-text p-button-danger" (click)="excluir(r.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-toast></p-toast>
