<p-card>
  <div class="font-semibold text-xl mb-4">Eventos</div>
    <p-toolbar>
      <div class="p-toolbar-start">
      </div>
      <div class="p-toolbar-center">
      </div>
      <div class="p-toolbar-end">
        <button pButton icon="pi pi-plus" label="Novo" class="p-button" (click)="novo()"></button>
        <button pButton icon="pi pi-clone" label="Criar em Massa" severity="danger" (click)="novoEmMassa()"></button>
      </div>
    </p-toolbar>
  <p-table
    [value]="eventos"
    [loading]="isLoading"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [first]="page * pageSize"
    [lazy]="true"
    (onPage)="onPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Restaurante</th>
        <th>Data</th>
        <th>Hora</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-e>
      <tr>
        <td>{{ e.nome }}</td>
        <td>{{ e.restaurante }}</td>
        <td>{{ e.data | date:'dd/MM/yyyy':'UTC' }}</td>
        <td>{{ e.hora }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-text" (click)="editar(e.id)"></button>
          <button pButton icon="pi pi-trash" class="p-button-text p-button-danger" (click)="excluir(e.id)"></button>
          <button pButton icon="pi pi-save" class="p-button-text p-button-success" (click)="salvar(e)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-toast></p-toast>
