<div class="reset-password">
  <p-toast></p-toast>
  <p-card class="form-card">
    <h2 class="title">Redefinir Senha</h2>
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form">
      <div>
        <label for="email">Email</label>
        <p-inputText id="email" name="email" [(ngModel)]="email" required class="w-full"></p-inputText>
      </div>
      <div>
        <label for="password">Nova Senha</label>
        <p-password [(ngModel)]="password" name="password" required [feedback]="false" placeholder="Nova senha" styleClass="w-full" inputStyleClass="w-full"></p-password>
      </div>
      <p-button type="submit" label="Redefinir" [disabled]="!f.valid || isLoading" [loading]="isLoading" styleClass="w-full"></p-button>
    </form>
  </p-card>
</div>
