<p-card>
  <div class="font-semibold text-xl mb-4">Marcações de Eventos</div>
  <p-toolbar>
    <div class="p-toolbar-start"></div>
    <div class="p-toolbar-end"></div>
  </p-toolbar>
  <p-table [value]="marcacoes" [loading]="isLoading">
    <ng-template pTemplate="header">
      <tr>
        <th>Evento</th>
        <th>Data</th>
        <th>Restaurante</th>
        <th>Reserva</th>
        <th>Voucher</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
      <tr>
        <td>{{ m.evento_nome }}</td>
        <td>{{ m.evento_data | date:'dd/MM/yyyy':'UTC' }}</td>
        <td>{{ m.restaurante }}</td>
        <td>{{ m.nome_hospede }}</td>
        <td>{{ m.voucher }}</td>
        <td class="status-cell">
          <p-tag [value]="m.status" [severity]="getStatusSeverity(m.status)"></p-tag>
          <p-select
            [options]="statusOptions"
            [(ngModel)]="m.status"
            (onChange)="alterarStatus(m)"
            styleClass="status-select"
          ></p-select>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<p-toast></p-toast>
